// @import "./animation.scss";
@import "./block/block.scss";
@import "./button/button.scss";
@import "./dropzone/dropzone.scss";

@import "./selling-point/selling-point.scss";


@import 'react-bootstrap-typeahead/css/Typeahead.css';



.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
