.notifications-overlay {
    z-index: 100;
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    max-width: 100%;
    padding: 1em;
    background-color: transparent;

    justify-content: right;
    justify-items: right;

    .toast {
        float: right;
        clear: both;

        width: 330px;
        max-width: 100%;

        &.toast-success {
            border-color: #c3e6cb;

            .toast-header {
                background-color: #d4edda;
                color: #155724;
            }
        }

        &.toast-danger {
            border-color: #f5c6cb;
            
            .toast-header {
                background-color: #f8d7da;
                color: #721c24;
            }
        }

        &.toast-warning {
             border-color: #ffeeba;
            
            .toast-header {
                background-color: #fff3cd;
                color: #856404;
            }
        }
        
        .toast-header {
            strong {
                overflow-x: hidden;
                overflow-y: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            button {
                margin-left: auto;
                float: right;
            }
        }
    }
}