.service-category-icon {
    background-color: #f8f8fa;
    padding: 0px;
    margin: -10px;
    border-radius: 50%;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 64px;
    
    margin-bottom: 0px;

    &.service {
        padding: 8px !important;
        max-width: 48px;
        background-color: #d3d9e4;
    }
}