.service-category-icon {
    background-color: #f8f8fa;
    padding: 0px;
    margin: -10px;
    border-radius: 50%;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 64px;
    
    margin-bottom: 0px;
}