
// 8pt;
// 12pt;
// 18pt;
// 24pt;
// 40pt;
// 80pt;

@font-face {
    font-family: 'muli';
    font-display: swap;
    src: url('../fonts/site/Muli.ttf') format('truetype')
}
@font-face {
    font-family: 'muli-italic';
    font-display: swap;
    src: url('../fonts/site/Muli-Italic.ttf') format('truetype')
}


@font-face {
    font-family: 'muli-bold';
    font-display: swap;
    src: url('../fonts/site/Muli-Bold.ttf') format('truetype')
}
@font-face {
    font-family: 'muli-bold-italic';
    font-display: swap;
    src: url('../fonts/site/Muli-BoldItalic.ttf') format('truetype')
}


@font-face {
    font-family: 'muli-extra-light';
    font-display: swap;
    src: url('../fonts/site/Muli-ExtraLight.ttf') format('truetype')
}
@font-face {
    font-family: 'muli-extra-light-italic';
    font-display: swap;
    src: url('../fonts/site/Muli-ExtraLightItalic.ttf') format('truetype')
}


@font-face {
    font-family: 'muli-light';
    font-display: swap;
    src: url('../fonts/site/Muli-Light.ttf') format('truetype')
}
@font-face {
    font-family: 'muli-light-italic';
    font-display: swap;
    src: url('../fonts/site/Muli-LightItalic.ttf') format('truetype')
}


@font-face {
    font-family: 'muli-semibold';
    font-display: swap;
    src: url('../fonts/site/Muli-SemiBold.ttf') format('truetype')
}
@font-face {
    font-family: 'muli-semibold-italic';
    font-display: swap;
    src: url('../fonts/site/Muli-Semi-BoldItalic.ttf') format('truetype')
}