
.service-icon {
    padding: 6px;

    &.clickable {
        &.active {
            .service-category-icon {
                background-color: #ececf0;
                border: 3px solid #ff9505;
            }
        }

        &:hover {
            cursor: pointer;

            .service-category-icon {
                background-color: #e7e7eb;
            }
        }
    }
}