.jumbo-container {
    padding-top: 24 px;
    padding-bottom: 48px;

    img {
        padding-bottom: 0px !important;
        margin-bottom: 0px;
    }
}


.banner-jumbo {
    padding-top: 48px;
    padding-bottom: 0px;

    

	p {
		color: rgb(142, 153, 173);
		margin-bottom: 1.5em;
	}

	h2 {
		color: rgb(32, 42, 61);
		font-weight: 600;
		font-size: 3em !important;
		line-height: 1em !important;
		margin-bottom: 0.8em;

		&::after {
			border-bottom: 18px solid rgb(255, 149, 5);
			border-left: 0px solid transparent;
			border-right: 5px solid transparent;
			height: 0;
			width: 54px;
			display: block;
			content: "";
			margin-top: 0.5em;
		}
	}

	.btn {
		min-width: 212px;
		margin-bottom: 1.5em;
	}
}