




.btn.btn-primary {
    border-radius: 5px;

    padding-left: 53px;
    padding-right: 53px;
    min-width: 220px;

    background-color: #ff9505;
    color: white;

    &:hover {
        background-color: #e88806;
        color: white;
    }
}

.btn.btn-secondary {
    font-family: 'muli-semibold', 'Open Sans', sans-serif !important;

    padding-left: 53px;
    padding-right: 53px;

    border-radius: 5px;
    border: 1px solid #ff9505;
    
    background-color: transparent;
    color: #ff9505;

    &:hover {
        background-color: #ff9505 !important;
        color: white !important;
    }
}

.btn.btn-outline-primary {
    font-family: 'muli-semibold', 'Open Sans', sans-serif !important;

    padding-left: 53px;
    padding-right: 53px;

    border-radius: 5px;
    border: 1px solid transparent;

    background-color: transparent;
    color: #ff9505;

    &:hover {
        background-color: #ff9505 !important;
        color: white !important;
    }
}
