
.card {
    border-radius: 4px;
    border-width: 2px;
    border-color: #e3e7ee;

    .card-body {
        h3 {
            font-size: 22px;
            color: #202a3d;
            font-family: 'muli-bold', 'Open Sans', sans-serif !important;
        }
    }
}