
form.fixzitfast-form {
    padding: 44px;

    @media (max-width: 575.98px) {
        padding: 10px;
    }

    h2 {
        margin-bottom: 44px;
    }
    a {
        color: #ff9505;
    }

    label {
        width: 100%;
        color: #8e99ad;
        font-size: 12px;
        font-family: 'muli-bold', 'Open Sans', sans-serif !important;
    }

    .form-group {
        margin-top: 22px;
        margin-bottom: 22px;
        width: 100%;
        display: inline-flex;
        flex-direction: column;

        .dropzone {
            background-color: #f7f7f7;
            color: #d3d9e4;
            font-family: 'muli-bold', 'Open Sans', sans-serif !important;
            font-size: 18px;
            
            i {
                font-size: 24px;
            }
        }

        textarea {
            border: 1px solid #c7ccd6 !important;
            border-radius: 4px;
        }

        &.text-right, &.text-center, &.text-left {
            display: inline-block;
        }

        .input-group {
            .addon-icon {
                min-width: 36px;
                height: 100%;
                padding-top: 7px;
                color: #959fb2;
            }
        }

        input.form-control {
            border: 0px;

            &[type="text"], &[type="email"], &[type="tel"], &[type="password"] {
                color: #202a3d;
                border-bottom: 2px solid #c7ccd6;
                font-family: 'muli-bold', 'Open Sans', sans-serif !important;

                &:active, &:focus {
                    border-bottom: 2px solid #ff9505;
                }

                &::placeholder {
                    color: #8e99ad;
                    font-family: 'muli-bold', 'Open Sans', sans-serif !important;
                }
            }
        }

        textarea.form-control {
            border: 0px;
            color: #202a3d;
            border-bottom: 2px solid #c7ccd6;

            font-family: 'muli-bold', 'Open Sans', sans-serif !important;
            
            &:active, &:focus {
                border-bottom: 2px solid #ff9505;
            }

            &::placeholder {
                color: #8e99ad;
                font-family: 'muli-bold', 'Open Sans', sans-serif !important;
            }
        }
    }
}

textarea:focus, input:focus{
    outline: none;
    outline-style: none;
    
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}