


.main-hero {
    background-color: white;
    .row {
        > div {
            min-height: calc(100vh - 228px);
        }

        .van-image-container {
            padding: 0 !important;
            margin: 0 !important;
        }

        .vertical-center {
            padding-left: 0px;
            padding-right: 0px;
        }

        .full-center {
            .van-image {
                padding: 0 !important;
                margin: 0 !important;
                background-image: url("../../assets/images/landing/van.png");
                min-width: 100%;
                width: 100%;
                display: inline-block;
                background-size: cover;
                background-repeat: no-repeat;
                background-position-x: left;
            
                height: 100%;
                min-height: 30vw;
        
                @media (min-width: 996px) {
                }
            
                @media (max-width: 992px) {
                    height: 80vw;
                }
            }
        }
    }
    

    h3 {
        font-size: 54px;
        line-height: 54px;
        letter-spacing: -2px;
        font-family: 'muli-bold', 'Open Sans', sans-serif !important;
        margin-bottom: 40px;
        color: #202a3d;

        @media (max-width: 992px) {
            font-size: 40px;
            line-height: 40px;
        }

        
        @media (max-width: 376px) {
            font-size: 32px;
            line-height: 32px;
        }
    }

    p {
        font-size: 18px;
        color: #8e99ad;
        margin-bottom: 40px;
    }

    form {
        .form-group {
            margin-bottom: 40px;

            .input-group {
                padding-left: 0px;
                padding-right: 0px;
                margin-left: 0px;
                margin-right: 0px;
    
                .rbt {
                    display: inline-block;
                    margin: 0px;
                    padding: 0px;
                    height: 100%;
    
                    > div {
                        margin: 0px;
                        padding: 0px;
                        height: 100%;
                    }

                    .rbt-menu.dropdown-menu.show {
                        min-height: 280px;
                        margin-top: -5px;
                        z-index: 500 !important;

                        border-color: #eaeaea;
                        border-top: 0px;
                        border-radius: 5px;
                        border-top-left-radius: 0px;
                        border-top-right-radius: 0px;
                    }
                }
    
                input {
                    width: 100%;
                    margin-left: 0px;
                    margin-right: 0px;
                    padding-top: 19px;
                    padding-bottom: 19px;
                    color: #202a3d;
                    border-color: #eaeaea;
                    font-size: 16px;
    
                    &::placeholder {
                        color: #cdd1d8;
                    }
    
                    
                    border-radius: 5px;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
    
                .btn {
                    padding-left: 53px;
                    padding-right: 53px;
                    border-radius: 5px;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                }
            }

            .btn.btn-secondary {
                font-family: 'muli-semibold', 'Open Sans', sans-serif !important;
                padding-left: 53px;
                padding-right: 53px;
                border-radius: 5px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }
        }
    
    }

    
}