
.testimonial-card {
    border: 0px;
    box-shadow: 0px 0px 4px rgb(211, 217, 228);

    h5 {
        font-size: 16px;
        margin-top: 12px;
        margin-bottom: 18px;
        font-family: 'muli-bold', 'Open Sans', sans-serif !important;
        color: #202a3d;
    }

    p {
        margin-top: 12px;
        font-size: 16px;
        color: #8e99ad;
    }

    .fa-star, .fa-star-half-alt {
        
        color: rgb(255, 182, 39);
    }
}