.customer-quote {
    margin-left: 0px;
    margin-right: 0px;

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 64px;
    padding-bottom: 64px;

    width: 100%;

    color: white !important;

    
	background-color: rgb(122, 122, 122);

    h3 {
        font-size: 22px;
        max-width: 480px;
        text-align: center;
    }

    h4 {
        font-family: 'muli-bold', 'Open Sans', sans-serif !important;
        font-size: 18px;
        margin-bottom: 24px;
        text-align: center;
    }
}