

.featured-services-bar {
    background-color: #f0f1f4;

    padding-top: 32px;
    padding-bottom: 32px;

    .row {
        margin-left: -30px;
        margin-right: -30px;
    }
    

    .card {
        margin-top: 10px;
        margin-bottom: 10px;

        border-radius: 5px;
        border: 0px;
        border: 2px solid transparent;
        .card-body {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .btn {
            padding-left: 0px;
            padding-right: 0px;
            background-color: transparent;
            color: #202a3d;
        }

        img {
            background-color: #f8f8fa;
            padding: 0px;
            margin: -10px;
            border-radius: 50%;
            padding-left: 0px;
            padding-right: 0px;
            max-width: 64px;
        }

        span {
            padding-left: 34px;
            padding-top: 26px;
            padding-bottom: 32px;
            height: 100%;
            display: inline-block;

            color: #202a3d;
            font-size: 20px;
            font-family: 'muli-bold', 'Open Sans', sans-serif !important;
            letter-spacing: -1px;
        }

        &:hover {
            opacity: 0.9;
            box-shadow: 0px 0px 30px #bababa55;
            border: 2px solid #eaeaea;
            cursor: pointer;
        }
    }
}